@using TinaShopV2.Common.Extensions;
@using TinaShopV2.Common;

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/bundles/Admin/SmartStyle")

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="@(AdminGlobalObjects.ContentRelativePath)img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="@(AdminGlobalObjects.ContentRelativePath)img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="@(AdminGlobalObjects.ContentRelativePath)img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    @RenderSection("head", false)
</head>
<body class="fixed-header smart-style-1">
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">
            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="@(AdminGlobalObjects.ContentRelativePath)img/logo.png" alt="SmartAdmin"> </span>
            <!-- END LOGO PLACEHOLDER -->
        </div>

        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->
            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="@(AdminGlobalObjects.ContentRelativePath)img/avatars/sunny.png" alt="John Doe" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOff","Account",new { @area = "Administration" })" class=" padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="@Url.Action("LogOff","Account",new { @area = "Administration" })" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->
            <!-- search mobile button (this is hidden till mobile view port) -->
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
            <!-- end search mobile button -->
            <!-- input: search field -->
            <form action="@(AdminGlobalObjects.ContentRelativePath)search.html" class="header-search pull-right">
                <input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
            </form>
            <!-- end input: search field -->
            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->
        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        @Html.Action("UserInfo", "Account", new { @area = "Administration" })
        <!-- end user info -->
        <!-- NAVIGATION : This navigation is also responsive

        To make this navigation dynamic please make sure to link the node
        (the reference to the nav > ul) after page load. Or the navigation
        will not initialize.
        -->
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
            Please note that these links work a bit different than
            traditional href="" links. See documentation for details.
            -->
            @Html.Action("MainMenu", "TinaSystems", new { @area = "Administration" })
        </nav>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Home</li>
                <li>Dashboard</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
        <!-- END RIBBON -->
        <!-- MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
    <!-- PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">@GlobalObjects.SiteTitle © @DateTime.Now.Year</span>
            </div>
            <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                <div class="txt-color-white inline-block">
                    <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
                </div>
            </div>
        </div>
    </div>
    <!--================================================== -->
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="@(AdminGlobalObjects.ContentRelativePath)js/libs/jquery-2.0.2.min.js"><\/script>');
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="@(AdminGlobalObjects.ContentRelativePath)js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    @*<script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/jquery-validate/jquery.validate.min.js"></script>*@

    <!-- JQUERY MASKED INPUT -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/app.min.js"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/speech/voicecommand.min.js"></script>

    <!-- PAGE RELATED PLUGIN(S) -->
    <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/flot/jquery.flot.cust.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/flot/jquery.flot.resize.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/flot/jquery.flot.tooltip.min.js"></script>

    <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- Full Calendar -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/moment/moment.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices) -->
    <script data-pace-options='{ "ajax": false }' src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/pace/pace.min.js"></script>

    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/maxlength/bootstrap-maxlength.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/clockpicker/clockpicker.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/noUiSlider/jquery.nouislider.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/knob/jquery.knob.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/x-editable/moment.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/x-editable/jquery.mockjax.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/x-editable/x-editable.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/typeahead/typeahead.min.js"></script>
    <script src="@(AdminGlobalObjects.ContentRelativePath)js/plugin/typeahead/typeaheadjs.min.js"></script>

    <script>
        $(document).ready(function () {

            // DO NOT REMOVE : GLOBAL FUNCTIONS!
            pageSetUp();

            ///*
            // * PAGE RELATED SCRIPTS
            // */

            //$(".js-status-update a").click(function () {
            //    var selText = $(this).text();
            //    var $this = $(this);
            //    $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            //    $this.parents('.dropdown-menu').find('li').removeClass('active');
            //    $this.parent().addClass('active');
            //});

            ///*
            //* TODO: add a way to add more todo's to list
            //*/

            //// initialize sortable
            //$(function () {
            //    $("#sortable1, #sortable2").sortable({
            //        handle: '.handle',
            //        connectWith: ".todo",
            //        update: countTasks
            //    }).disableSelection();
            //});

            //// check and uncheck
            //$('.todo .checkbox > input[type="checkbox"]').click(function () {
            //    var $this = $(this).parent().parent().parent();

            //    if ($(this).prop('checked')) {
            //        $this.addClass("complete");

            //        // remove this if you want to undo a check list once checked
            //        //$(this).attr("disabled", true);
            //        $(this).parent().hide();

            //        // once clicked - add class, copy to memory then remove and add to sortable3
            //        $this.slideUp(500, function () {
            //            $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
            //            $this.remove();
            //            countTasks();
            //        });
            //    } else {
            //        // insert undo code here...
            //    }

            //})
            //// count tasks
            //function countTasks() {

            //    $('.todo-group-title').each(function () {
            //        var $this = $(this);
            //        $this.find(".num-of-tasks").text($this.next().find("li").size());
            //    });

            //}

        });

    </script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    @*<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>*@
    @RenderSection("scripts", required: false)
</body>

</html>