@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model IEnumerable<TinaShopV2.Areas.Administration.Models.RoleViewModel>

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Index, Resources.Commons.Roles);
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    int index = 1;
}
@Html.SmartValidationSummary()
<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink(Resources.Commons.Create, "Create", "Roles", ViewContext.LocalizeRouteValues(new { area = "Administration" }), null)</p>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped responsive-utilities">
        <tr>
            <th>@Resources.Commons.No</th>
            <th>@Resources.Commons.Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.ActionLink(Resources.Commons.Edit, "Edit", ViewContext.LocalizeRouteValues(new { area = "Administration", id = item.Id })) |
                    @Html.ActionLink(Resources.Commons.Detail, "Details", ViewContext.LocalizeRouteValues(new { area = "Administration", id = item.Id })) |
                    @Html.ActionLink(Resources.Commons.Delete, "Delete", ViewContext.LocalizeRouteValues(new { area = "Administration", id = item.Id }))
                </td>
            </tr>
        }
    </table>
</div>