@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model TinaShopV2.Areas.Administration.Models.Category.CategoryViewModel

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Edit, Resources.Commons.Category);
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Html.SmartValidationSummary()
<h2>@Resources.Commons.Edit</h2>
@using (Html.BeginForm(ViewContext.LocalizeRouteValues()))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Resources.Commons.Category</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.CatCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CatCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MediaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.HiddenFor(m => m.MediaId)
                <div id="MediaSelected" class="col-md-12">
                    @if (Model.MediaId != null)
                    {
                        var media = Model.GetImage();
                        if (media != null)
                        {
                            <img alt="@media.Name" src="@Path.Combine(GlobalObjects.MediaImageFolderPath, media.ThumbPath)" style="max-width:150px;" class="thumbnail" />
                            <div class="alert adjusted alert-success fade in"><button class="close" onclick="removeMedia();" data-dismiss="alert">×</button><strong>@media.Name</strong></div>
                        }
                    }
                </div>
                @Html.TextBox("Media_Find", "", new { @class = "form-control", @autofocus = "false" })
                @Html.ValidationMessageFor(model => model.MediaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatParentCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.SmartDropDownListFor(model => model.CatParentCode, ViewBag.Categories as IEnumerable<SelectListItem>, null, true)
                @Html.ValidationMessageFor(model => model.CatParentCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.SmartSpinner(model => model.OrderNumber)
            </div>
            <div class="col-md-2" style="clear:both;"></div>
            <div class="col-md-8">
                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.SmartCheckboxFor(m => m.IsPublish, null)
                @Html.ValidationMessageFor(model => model.IsPublish, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="form-actions no-color">
        <input type="submit" value="@Resources.Commons.Save" class="btn btn-default" /> |
        @Html.ActionLink(Resources.Commons.BackToList, "Index", ViewContext.LocalizeRouteValues())
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CustomValidation")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#OrderNumber").spinner();
        });

        $(function () {
            $("#Media_Find").autocomplete({
                delay: 500,
                minLength: 3,
                source: function (request, response) {
                    $.getJSON("@Url.Action("FindByType", "Medias", new { area = "Administration" })/@GlobalObjects.MediaType_CategoryImage_Id" + "/" + $("#Media_Find").val(), function (data) {
                        // data is an array of objects and must be transformed for autocomplete to use
                        var array = data.error ? [] : $.map(data, function (m) {
                            return {
                                label: m.Name,
                                value: m.Id,
                                thumbpath: m.ThumbPath
                            };
                        });
                        response(array);
                    });
                },
                focus: function (event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                },
                select: function (event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                    // navigate to the selected item's url
                    $("#MediaId").val(ui.item.value);
                    $("#Media_Find").val('');
                    $("#Media_Find").fadeOut();
                    $("#MediaSelected").html("<img alt=\"" + ui.item.label + "\" src=\"@(string.Format("{0}/", GlobalObjects.MediaImageFolderPath))" + ui.item.thumbpath + "\" style=\"max-width:150px;\" class=\"thumbnail\" /><div class=\"alert adjusted alert-success fade in\"><button class=\"close\" onclick=\"removeMedia('" + ui.item.value + "');\" data-dismiss=\"alert\">×</button><strong>" + ui.item.label + "</strong></div>");
                }
            });
        });

        function removeMedia() {
            $("#MediaId").val('');
            $("#MediaSelected").html('');
            $("#Media_Find").fadeIn();
        }

        @if (Model.MediaId != null)
        {
            <text>$("#Media_Find").fadeOut();</text>
        }
    </script>
}
