@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model TinaShopV2.Areas.Administration.Models.Catalog.CatalogViewModel

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Detail, Resources.Commons.Catalog);
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Commons.Detail</h2>

<div>
    <h4>@Resources.Commons.Catalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.MediaId)</dt>
        <dd>
            @if (Model.MediaId != null)
            {
                var media = Model.GetImage();
                if (media != null)
                {
                    <img alt="@media.Name" src="@Path.Combine(GlobalObjects.MediaImageFolderPath, media.ThumbPath)" style="max-width:150px;" class="thumbnail" />
                }
            }
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.IsPublished)</dt>
        <dd>@Html.DisplayFor(model => model.IsPublished)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Products)</dt>
        <dd>
            @foreach (var item in Model.Products)
            {
                <div class="alert adjusted alert-success fade in col-md-8"><strong>@item.ProductName (@item.ProductCode)</strong></div>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Commons.Edit, "Edit", ViewContext.LocalizeRouteValues(new { @Id = Model.Id })) |
    @Html.ActionLink(@Resources.Commons.BackToList, "Index", ViewContext.LocalizeRouteValues())
</p>
