@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model TinaShopV2.Areas.Administration.Models.MenuType.MenuTypeViewModel

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Create, Resources.Commons.MenuType);
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Html.SmartValidationSummary()
<h2>@Resources.Commons.Create</h2>
@using (Html.BeginForm(ViewContext.LocalizeRouteValues()))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Resources.Commons.MenuType</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-actions no-color">
        <input type="submit" value="@Resources.Commons.Save" class="btn btn-default" /> |
        @Html.ActionLink(Resources.Commons.BackToList, "Index", ViewContext.LocalizeRouteValues())
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
