@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model IEnumerable<TinaShopV2.Areas.Administration.Models.Slider.SliderViewModel>

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Index, Resources.Commons.Slider);
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

@Html.SmartValidationSummary()
<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink(Resources.Commons.Create, "Create", ViewContext.LocalizeRouteValues())</p>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped responsive-utilities">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedUser)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedDatetime)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.IsPublished)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedUser.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedDatetime)</td>
                <td>
                    @Html.ActionLink(Resources.Commons.Edit, "Edit", ViewContext.LocalizeRouteValues(new { id = item.Id })) |
                    @Html.ActionLink(Resources.Commons.Detail, "Details", ViewContext.LocalizeRouteValues(new { id = item.Id })) |
                    @Html.ActionLink(Resources.Commons.Delete, "Delete", ViewContext.LocalizeRouteValues(new { id = item.Id }))
                </td>
            </tr>
        }
    </table>
</div>