@using TinaShopV2.Common;
@using TinaShopV2.Common.Extensions;

@model TinaShopV2.Areas.Administration.Models.Media.MediaViewModel

@{
    ViewBag.Title = string.Format(GlobalObjects.TitleFormat, Resources.Commons.Detail, "Media");
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Commons.Detail</h2>

<div>
    <h4>Media</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ThumbPath)</dt>
        <dd><img alt="@Model.Name" src="@Path.Combine(GlobalObjects.MediaImageFolderPath, Model.ThumbPath)" style="max-width:150px;" class="thumbnail" /></dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FilePath)</dt>
        <dd><img alt="@Model.Name" src="@Path.Combine(GlobalObjects.MediaImageFolderPath, Model.FilePath)" style="max-width:300px;" class="thumbnail" /></dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TypeId)</dt>
        <dd>@(Model.GetMediaType() != null ? Model.GetMediaType().Name : string.Empty)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ProductCode)</dt>
        <dd>@(string.IsNullOrEmpty(Model.ProductCode) ? string.Empty : string.Format("{0} - {1}", Model.GetProduct() != null ? Model.GetProduct().ProductCode : string.Empty, Model.GetProduct() != null ? Model.GetProduct().ProductName : string.Empty))</dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Commons.Edit, "Edit", ViewContext.LocalizeRouteValues(new { id = Model.Id })) |
    @Html.ActionLink(@Resources.Commons.BackToList, "Index", ViewContext.LocalizeRouteValues())
</p>
